
<div class="wrap">
	<div class="title_line">
		<h1>Owl Carousel
			<a href="{{ panel_url('oCoder::editSlide') }}" class="page-title-action">Add New</a>
		</h1>
		<table class="wp-list-table widefat fixed striped">
		<thead>
			<tr>
				<td id="cb" class="manage-column column-cb check-column"></td>
				<th id="id" class="column-author">id</th>
				<th id="name" class="column-tags">Title</th>
				<th id="content" class="column-author">Content</th>
				<th id="images_url">Short Code (Click To Copy)</th>
			</tr>
		</thead>
		<tbody id="the-list">
			{% for item in ocoder %}

				<tr> 
					<td></td>
					<td>{{item.id}}</td>
					<td><a href="{{ panel_url('oCoder::editSlide', {'id': item.id }) }}"> {{ item.name }}</a><div class="row-actions"><span class="edit"><a href="{{ panel_url('oCoder::editSlide', {'id': item.id }) }}" aria-label="Edit “firsts carousel”">Edit</a> | </span><span class="inline hide-if-no-js"> | </span><span class="trash"><a href="{{ panel_url('oCoder::mainPanel', {'action':'delete', 'id': item.id}) }}" class="submitdelete" aria-label="Move “firsts carousel” to the Trash">Delete</a> | </span><span class="view"><a href="#" rel="permalink" aria-label="View “firsts carousel”">View</a></span></div></td>
					<td> {{ item.content }}</td>
					<td id="colum_link" class="column-tags click_copy">[oCoder-owl-carousel cat_id={{item.id}}]</td>
				</tr>
			{% else %}
			<tr> 
				<td class="colspanchange" colspan="4">Nothing.</td>
			</tr>
			
			{% endfor %}	
		</tbody>
		
			
		
		</table>
	</div>
</div>